<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vulcan Sentinel{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html> 